<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--
  
  <add name="RightSystem" connectionString="Server=192.168.88.3;Initial Catalog=NFineBase;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
  
  -->

  <!--
  <add name="RightSystem" connectionString="Server=192.168.88.3;Initial Catalog=MingTai_Right;User ID=sa;Password=sa.2016" providerName="System.Data.SqlClient" />
  -->

  <add name="RightSystem" connectionString="Server=mark10\sqlexpress02;database=TaiWei_Right;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
</connectionStrings>