@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    var currentPrjId = $.request("projectId");//当前项目ID
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/RightManage/Authority/GetFucPointJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    $("#F_FunctionCode").attr('readonly', 'readonly');
                    $("#F_ModelId").attr('disabled', 'disabled');
                }
            });
        } else {
            $("#F_ProjectId").val(currentPrjId);
        }
    });
    function initControl() {
        //类型
        //$("#F_Type").bindSelect({
        //    url: "/RightManage/Common/GetSysCodeJson",
        //    param: { enCode: "FunctionType" }
        //});
        //模块
        $("#F_ModelId").bindSelect({
            url: "/RightManage/Common/GetModelJson",
            param: { projectId: currentPrjId }
        });
        $("#F_Status").bindSelect({
            
        });
        if (!keyValue) {
            $("#F_ModelId").change(function () {
                var modId = $(this).val();//模块编号
                $.ajax({
                    url: "/RightManage/Authority/GetNewFucCode",
                    data: { modelId: modId },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        $("#F_FunctionCode").val(data);
                    }
                });
            });
        }
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/RightManage/Authority/SubmitFucPoint?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
                $.currentWindow().$("#btnClose").trigger("click");
            }
        })
    }
</script>
<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">模块</th>
                <td class="formValue">
                    <select id="F_ModelId" name="F_ModelId" class="form-control required">
                        <option value="">==请选择==</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">功能编号</th>
                <td class="formValue">
                    <input id="F_FunctionCode" name="F_FunctionCode" type="text" class="form-control required" readonly="readonly" placeholder="请输入功能编号" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">功能名称</th>
                <td class="formValue">
                    <input id="F_FunctionName" name="F_FunctionName" type="text" class="form-control required" placeholder="请输入功能名称"/>
                </td>
            </tr>
            <tr>
                <th class="formTitle">功能类型</th>
                <td class="formValue">
                    <select id="F_Type" name="F_Type" class="form-control required">
                        <option value ="">==请选择==</option>
                        <option value ="menu">菜单</option>
                        <option value ="button">按钮</option>
                        <option value ="bussiness">业务</option>
                    </select>
                </td>
            </tr>
            
            <tr>
                <th class="formTitle" style="padding-top: 5px;">备注
                </th>
                <td class="formValue">
                    <textarea id="F_Description" name="F_Description" class="form-control" style="height: 60px;"></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle" >是否有效</th>
                <td class="formValue">
                    <select id="F_Status" name="F_Status" class="form-control required">
                        <option value="1">有效</option>
                        <option value="0">无效</option>                      
                    </select>
                </td>
            </tr>
        </table>
        <input type="hidden" id="F_ProjectId" name="F_ProjectId" />
    </div>
</form>
